<!DOCTYPE html>
<html>
<head>
    <title>GPT App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='stylesheets/homepage.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='stylesheets/loading.css') }}">
</head>
<body>
<div id="loading-overlay"></div>
<div class="container">
    <img src="/logo" alt="ETL" class="logo">
    <h1>Please enter a question:</h1>
    <form action="/" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="text">
        </div>
        <button onclick="showLoading()" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button id="download-btn" class="btn btn-primary">Download Results</button>
    {% if summary %}
        <h1>Your Question:</h1>
        <p>{{ prompt }}</p>
        <h1>Summary:</h1>

        {% for paragraph in summary %}
            <p>{{ paragraph }}</p>
        {% endfor %}

        <h1>Bibliography:</h1>
        <ul>
            {% for answer in answers %}
                <li>{{ answer.answer }} (from <a href="{{ answer.link }}">{{ answer.source }}</a>)</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% if summary %}
    <script>
        let now = new Date();
        const downloadBtn = document.querySelector('#download-btn');
        downloadBtn.style.display = 'block';
        downloadBtn.addEventListener('click', function () {
            const text = '{{ prompt }}\n\nSummary:\n{% for paragraph in summary %}{{ paragraph }}\n{% endfor %}\n\nBibliography:\n{% for answer in answers %}{{ answer.answer }} (from {{ answer.source }})\n\n{% endfor %}';
            const filename = 'results_' + now.toLocaleString().replaceAll(' ', '-') + '.txt';
            const blob = new Blob([text], {type: 'text/plain'});
            const url = URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.download = filename;
            link.href = url;
            link.click();
        });
    </script>
{% endif %}

<script>
    function showLoading() {
        const overlay = document.getElementById("loading-overlay");
        overlay.style.display = "block";
    }
</script>

</body>
</html>
